{% load static %}

<!DOCTYPE html>
 <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Heracles</title>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/layout.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  </head>
  <body>

    <div class="container">
      <nav class="navbar fixed-top navbar-expand navbar-light abril-fatface" style="font-size: 175%; backdrop-filter: blur(10px);">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Meet like-minded fitness freaks</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-4">
          <li class="nav-item">
            <a class="nav-link active" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">signup</a>
          </li>
        </ul>
      </nav>
    </div>

    {% block content %}{% endblock %}

    <div class="container">
      <footer class="footer mt-5 d-flex flex-wrap justify-content-between align-items-center py-2 my-1 border-top">
        <ul class="nav col-12 justify-content-center list-unstyled d-flex">
          <li class="ml-auto mr-auto"><a class="" href="#" style="color: black; text-decoration: none;"><span class="mb-md-0">Developed by Suraj Iyer</span></a></li>
        </ul>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

  </body>
</html>
